@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface';
.icon{height:3em;}
h1{color:RED; text-align:center;font-family: 'Indie Flower', cursive;}
body{
     background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, gray); /* Standard syntax */
}
.video{text-align:center;}
.icon{text-align:left;}
a{text-decoration:none;}
figcaption:hover{color:RED;}
p{color:yellow; text-align:center;font-family: 'Abril fatface', cursive';}
