@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
.icon{height:3em;}
h1{color:RED; text-align:center;font-family: 'Indie Flower', cursive;}
body{background-color:GREENYELLOW;}
.video{text-align:center;}
.icon{text-align:left;}
a{text-decoration:none;}
figcaption:hover{color:RED;}

