@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
.icon{height:3em;}
h1{color:orange; text-align:center;font-family: 'Indie Flower', cursive;}
body{background-color:gold;}
.video{text-align:center;}
.icon{text-align:center;}